{{ define "content" }}
<link rel="stylesheet" href="/static/css/mylanguages.css">
<div class="languages-container">
    <h2>My Languages</h2>

    <form class="languages-form" action="/mylanguages" method="POST">
        <input type="text" name="langtitle" placeholder="New language" required>
        <button type="submit">Add Language</button>
    </form>

    <table class="languages-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        {{range .Languages}}
        <tr>
            <form action="/mylanguages/edit/{{.ID}}" method="POST">
                <td>
                    {{if eq $.EditID .ID}}
                        <input class="edit-input" type="text" name="newtitle" value="{{.LangTitle}}">
                    {{else}}
                        {{.LangTitle}}
                    {{end}}
                </td>
                <td>
                    {{if eq $.EditID .ID}}
                        <button class="action-button save-button" type="submit">Save</button>
                    {{else}}
                        <a class="action-link" href="/mylanguages?edit={{.ID}}">Edit</a>
                    {{end}}
                </td>
            </form>
            <form action="/mylanguages/delete/{{.ID}}" method="POST">
                <td>
                    <button class="action-button delete-button" type="submit" 
                            onclick="return confirm('Are you sure you want to delete this language?');">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{end}}
    </table>
</div>
{{ end }}